<head>
    <title>系统</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />  
##    引入css文件
    ##<link type="text/css" rel="stylesheet" href="/resources/css/jrp_erp.css"/>
    ##<link type="text/css" rel="stylesheet" href="/resources/css/jrp_erp_kongjian.css"/>
    <link type="text/css" rel="stylesheet" href="/resources/css/jquery-ui-datePicker.css"/ >
    <link type="text/css" rel="stylesheet" href="/resources/css/jquery.ui.theme.css"/>
    <link type="text/css" rel="stylesheet" href="/resources/css/pop.css"/>
    <link type="text/css" rel="stylesheet" href="/resources/css/zTreeStyle/zTreeStyle.css"/>
    <link type="text/css" rel="stylesheet" href="/resources/css/fund_erp_kongjian.css"/>
    <link type="text/css" rel="stylesheet" href="/resources/js/My97DatePicker/skin/WdatePicker.css"/>
	<link type="text/css" rel="stylesheet" href="/resources/css/widget/jd-widget.css"/>
##    引入js文件
    <script type="text/javascript" src="/resources/js/jquery-1.9.1.js"></script>
	<script type="text/javascript" src="/resources/js/jquery.form.js"></script>
    <script type="text/javascript" src="/resources/js/jquery-ui-datePicker.js"></script>
	<script type="text/javascript" src="/resources/js/My97DatePicker/WdatePicker.js"></script>
    <script type="text/javascript" src="/resources/js/iFrameResize.js"></script>
    <script type="text/javascript" src="/resources/js/validation/jquery.validate.js"></script>
    <script type="text/javascript" src="/resources/js/validation/messages_zh.js"></script>
	<script type="text/javascript" src="/resources/js/jd/core/jdcore.js"></script>
	<script type="text/javascript" src="/resources/js/jd/widget/jd-form-validator.js"></script>
	<script type="text/javascript" src="/resources/js/math.js"></script>
</head>
