<div class="mask"></div>
<!--header-->
<div class="NavBarText1 mb pr">
	<div class="logo"></div>
						<form id="navi" action="/index.do" method="post">
        <!--nav-->
        <div class="nav">
        	<div class="plst_pt jQ_ptLst">
				<input id="authId" style= "display:none" type="hidden" name="authId" value=""/>
                <ul>
    				 #foreach($navi in ${JD_OPERATE_WEB_NAVI_LIST})
							<li><a onclick="submitForm(${navi.authId})" href="javascript:void(0)" #if(${navi.selected})  #set($JD_OPERATE_WEB_CUR_MENUNAME = ${navi.authNam}) class="cur" #end>${navi.authNam}</a></li>
    	            #end
                </ul>
            </div>
        </div>
			</form>
    <div class="nav_control">
    	<span class="prev roll_lt jQ_plstRoLt">&lt;</span><span class="next roll_rt jQ_plstRoRt">&gt;</span>
    </div>
  <!--欢迎页面-->
    <div class="welcome mb">
        <h3>欢迎您，${JD_OPERATE_WEB_LOGIN_USER}</h3>
        <a href="/logout.do">退出</a> | <a href="javascript:void(0)">帮助中心</a>
    </div>
</div>
<!--END header-->
<script type="text/javascript">
function submitForm(authId){
$("#authId").val(authId);
$("#navi").submit();
}
</script>
