<!--mainContent-->
<div class="mainContent fl">
    <div class="crumb_fund">
        <span>运营后台</span> &gt; <span class="cur">账户信息</span>
    </div>
    <form action="../account/index.do" method="post" id="formSubmit">
        <div class="contentList borderNo">
            <div class="forms mb">
                <div class="formsList1 clearfix">
                    <dl>
                        <dt>账户类型</dt>
                        <dd>
                            <select name="accounttype">
                                <option value="">全部</option>
                                <option value="2" #if($!{query.accounttype}=="2")selected#end>银行卡</option>
                                <option value="1" #if($!{query.accounttype}=="1")selected#end>煤矿</option>
                                <option value="3" #if($!{query.accounttype}=="3")selected#end>客户</option>
                            </select>
                        </dd>
                    </dl>
                    <dl>
                        <dt></dt>
                        <dd>
                          </dd>
                    </dl>
                    <dl>
                        <dt></dt>
                        <dd>
                        </dd>
                    </dl>
                    <div class="clear"></div>
                    <div><input type="button" class="button_Green searchBtn " value="搜 索"/></div>
                </div>
            </div>
            <div class="createNew ">
                <div class="fl mb mt"></div>
            </div>
            <div class="tabBox queryCost1 mb">
                <table width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <th class="pl40">序号</th>
                        <th>账户类型</th>
                        <th>账户名</th>
                        <th>金额</th>
                        <th>税</th>
                    </tr>
                    #if($!{pageInfos})
                        #foreach($!{info} in $!{pageInfos})
                            <tr>
                                <td class="pl40">$!{info.id}</td>
                                <td>
                                    $!accountTypeMap.get($!{info.accounttype})
                                </td>
                                <td>
                                    $!{info.accountname}
                                </td>
                                <td>$!{info.price}</td>
                                <td>$!{info.taxAmount}</td>
                            </tr>
                        #end
                    #end
                </table>
            </div>
            <div class="fr">
                <!--公用翻页代码-->
                #set($attr='formSubmit')
                #showPageFormSubmit($pageInfos $attr)
                <!--END公用翻页代码-->
            </div>
            <div class="clear"></div>

        </div>
    </form>
</div>
<!--end mainContent-->
<script type="text/javascript">
    $(document).ready(function () {
        $(".button_Green.searchBtn").bind("click", function () {
            $("#formSubmit").submit();
        });

        $("#addButton").bind("click", function () {
            var datetime = $("#datetime").val();
            location.href = "../cardStatistics/toCreateDaliyStatistics.do?datetime=" + datetime;
        });
    });

</script>
