<!--mainContent-->
<div class="mainContent fl">
    <div class="crumb_fund">
        <span>运营后台</span> &gt; <span>渠道管控中心</span> &gt; <span class="cur"></span> &gt; <span class="cur">详情</span>
    </div>
    <div class="contentLog mb clearfix">
        <div class="au_title mb15 font16">详情</div>
        <div class="forms trade">
            <div class="formsList1 clearfix">
					<dl class="w100">
						<dt>：</dt>
			            <dd>
			            	$!{shipperbill.id}
			            </dd>
			        </dl> 
					<dl class="w100">
						<dt>货主姓名：</dt>
			            <dd>
			            	$!{shipperbill.shipperName}
			            </dd>
			        </dl> 
					<dl class="w100">
						<dt>交易类型：</dt>
			            <dd>
			            	$!{shipperbill.tradeType}
			            </dd>
			        </dl> 
					<dl class="w100">
						<dt>购买日期：</dt>
			            <dd>
			            	$!{shipperbill.buyDatetime}
			            </dd>
			        </dl> 
					<dl class="w100">
						<dt>车牌号：</dt>
			            <dd>
			            	$!{shipperbill.licenseplatenumber}
			            </dd>
			        </dl> 
					<dl class="w100">
						<dt>单价：</dt>
			            <dd>
			            	$!{shipperbill.unitprice}
			            </dd>
			        </dl> 
					<dl class="w100">
						<dt>吨位：</dt>
			            <dd>
			            	$!{shipperbill.onnage}
			            </dd>
			        </dl> 
					<dl class="w100">
						<dt>总金额：</dt>
			            <dd>
			            	$!{shipperbill.totalamount}
			            </dd>
			        </dl> 
					<dl class="w100">
						<dt>矿名：</dt>
			            <dd>
			            	$!{shipperbill.mineName}
			            </dd>
			        </dl> 
					<dl class="w100">
						<dt>已付金额：</dt>
			            <dd>
			            	$!{shipperbill.paidAmount}
			            </dd>
			        </dl> 
					<dl class="w100">
						<dt>未付金额：</dt>
			            <dd>
			            	$!{shipperbill.unpaidAmount}
			            </dd>
			        </dl> 
					<dl class="w100">
						<dt>创建时间：</dt>
			            <dd>
			            	$!{shipperbill.createTime}
			            </dd>
			        </dl> 
					<dl class="w100">
						<dt>修改时间：</dt>
			            <dd>
			            	$!{shipperbill.editTime}
			            </dd>
			        </dl> 
					<dl class="w100">
						<dt>创建人：</dt>
			            <dd>
			            	$!{shipperbill.creator}
			            </dd>
			        </dl> 
					<dl class="w100">
						<dt>修改人：</dt>
			            <dd>
			            	$!{shipperbill.editor}
			            </dd>
			        </dl> 
					<dl class="w100">
						<dt>删除状态：</dt>
			            <dd>
			            	$!{shipperbill.state}
			            </dd>
			        </dl> 
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>