<!--mainContent-->
<div class="mainContent fl">
    <div class="crumb_fund">
        <span>运营后台</span> &gt; <span>渠道管控中心</span> &gt; <span class="cur"></span> &gt; <span class="cur">添加</span>
    </div>
    <div class="contentLog mb clearfix">
        <div class="au_title mb15 font16">添加</div>
        <div class="forms trade">
        	<form id="form"  action="../shipperbill/shipperbillAdd.do" method="POST">
            <div class="formsList1 clearfix">
					<dl class="w100">
						<dt>货主姓名：</dt>
			            <dd>
			            	<input type="text" value="$!{shipperbill.shipperName}" class="input160" name="shipperName" id="shipperName"/>
			            </dd>
			        </dl> 
					<dl class="w100">
						<dt>交易类型：</dt>
			            <dd>
			            	<input type="text" value="$!{shipperbill.tradeType}" class="input160" name="tradeType" id="tradeType"/>
			            </dd>
			        </dl> 
					<dl class="w100">
						<dt>购买日期：</dt>
			            <dd>
			            	<input type="text" value="$!{shipperbill.buyDatetime}" class="input160" name="buyDatetime" id="buyDatetime"/>
			            </dd>
			        </dl> 
					<dl class="w100">
						<dt>车牌号：</dt>
			            <dd>
			            	<input type="text" value="$!{shipperbill.licenseplatenumber}" class="input160" name="licenseplatenumber" id="licenseplatenumber"/>
			            </dd>
			        </dl> 
					<dl class="w100">
						<dt>单价：</dt>
			            <dd>
			            	<input type="text" value="$!{shipperbill.unitprice}" class="input160" name="unitprice" id="unitprice"/>
			            </dd>
			        </dl> 
					<dl class="w100">
						<dt>吨位：</dt>
			            <dd>
			            	<input type="text" value="$!{shipperbill.onnage}" class="input160" name="onnage" id="onnage"/>
			            </dd>
			        </dl> 
					<dl class="w100">
						<dt>总金额：</dt>
			            <dd>
			            	<input type="text" value="$!{shipperbill.totalamount}" class="input160" name="totalamount" id="totalamount"/>
			            </dd>
			        </dl> 
					<dl class="w100">
						<dt>矿名：</dt>
			            <dd>
			            	<input type="text" value="$!{shipperbill.mineName}" class="input160" name="mineName" id="mineName"/>
			            </dd>
			        </dl> 
					<dl class="w100">
						<dt>已付金额：</dt>
			            <dd>
			            	<input type="text" value="$!{shipperbill.paidAmount}" class="input160" name="paidAmount" id="paidAmount"/>
			            </dd>
			        </dl> 
					<dl class="w100">
						<dt>未付金额：</dt>
			            <dd>
			            	<input type="text" value="$!{shipperbill.unpaidAmount}" class="input160" name="unpaidAmount" id="unpaidAmount"/>
			            </dd>
			        </dl> 
                <div class="clear"></div>
            </div>
            <p class="tcenter">
	            <input type="submit" class="button_Green" value="保 存" />
	        </p>
	        </form>
        </div>
    </div>
</div>
<script type="text/javascript">
     $(function(){
         $("#form").validate();
     });
</script>